<div class="title col-md">
  <img src="../../assets/img/name1.png" class="name-title">
</div>
<div class="navbar">
  <ul>
    <li class="home">
      <a routerLink="/home" class="home"><img src="../../assets/img/home.png" class="navbar-item"></a>
    </li>
    <li>
        <a routerLink="/resume" class="resume"><img src="../../assets/img/resume.png" class="navbar-item"></a>
      </li>
      <li>
        <a routerLink="/portfolio" class="portfolio"><img src="../assets/img/portfolio1.png" class="navbar-item"></a>
      </li>
      <li>
        <a routerLink="/about" class="about"><img src="../assets/img/about.png" class="navbar-item"></a>
      </li>
      <li>
        <a routerLink="/contact" class="contact"><img src="../../assets/img/contact1.png" class="navbar-item"></a>
      </li>
  </ul>
</div>
<router-outlet></router-outlet>
